*.txt
*.o
*.beam

*.old

1brc-from-internet/

c/simple
c/buffered
c/pure
c/pure2
c/pure3
c/profile-me
c/mem-mapped
c/posix1
c/posix2
c/posix3
c/posix3-dbg
c/posix4

c/gmon*

perf.data

callgrind.out.*

