*.txt
*.o
*.beam
*.svg
*.old
*.json

1brc-from-internet/

c/simple
c/buffered
c/pure
c/pure2
c/pure3
c/profile-me
c/mem-mapped
c/posix1
c/posix2
c/posix3
c/posix3-dbg
c/posix4
c/posix5
c/mutex[0-9]*
c/mutex
c/hash_test
c/semaphore

venv/
FlameGraph/

c/gmon*

perf.data
out.perf-folded

callgrind.out.*

